.card {
    border: 1px solid #ff7e67;
    border-radius: 1rem;
}

.cover-img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.post-title{
    margin-top: -8rem;
    height: 8rem;
    background-color: #ff7e67a1;
    padding: 0.75rem 2rem;
    color: #ffffff;
    margin-bottom: 0;
}

#apply-button{
    background-color: #34ae34;
    color: #ffffff;
}

#apply-button:hover{
    background-color: #3dc73d;
    color: #ffffff;
}

button{
    font-size: 1.1rem
}

button i{
    margin-right: 0.3rem;
}

p{
    text-align: justify;
}

.post-info{
    margin-top: 1rem;
    font-size: 1.1rem;
}