/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background: url(src\assets\images\background.png);
}

.card-title-overlay {
    margin-top: -3rem;
    color: white;
    width: 100%;
    background-color: #fd927e80;
    height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.primary-pink {
    background-color: #ff7e67;
    color: #ffffff;
}

.primary-pink-text {
    color: #ff7e67;
}

.primary-outline-button {
    border: 1px solid #ff7e67;
    background-color: #ffffff;
    color: #ff7e67;
}

.primary-outline-button:hover {
    border: 1px solid #ff7e67;
    background-color: #ff7e67;
    color: #ffffff;
}

.btn-fab-card {
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
    border-radius: 50%;
    padding: 0;
}

.card-chip {
    background-color: #ff7e67;
    color: #ffffff;
    border-radius: 1rem;
    display: inline-block;
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
